
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{

    text-align: center;
    padding: 10px 0;
    font: 1.4em bold;
    color: rgba(193, 193, 200, 0.938);
    text-shadow: 2px 2px 2px rgba(197, 195, 188, 0.568);
}

li{    
    
    background-color:#3a1de1;
    margin-left: 25px;
    padding: 10px;
    color: #c7bebe;
    
    
}

li a{

    color: rgba(240, 248, 255, 0.644);
}


body{

    background-color: rgba(39, 37, 37, 0.856);
}

.menu{

    background-color: #3a1de1;
    width: 100%;
     
}

.menu nav{

    width: 100%;
}







