
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{

    text-align: center;
    padding: 10px 0;
    font: 3em bold;
    color: rgba(11, 19, 244, 0.938);
    text-shadow: 2px 2px 2px rgba(197, 195, 188, 0.568);
}

li{    
    
    background-color: rgb(167, 134, 96);
    margin-left: 25px;
    
}

body{

    background-color: rgba(39, 37, 37, 0.856);
}


.menu{

    background-color: rgb(167, 134, 96);
     
}

main{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;   
}

.item{

    border-radius: 10px;    
    width:100%; 
    position: relative;
    animation: eventos 60s linear infinite;
    
} 

.item img{

    border-radius: 10px;
}

.carrosel{
    display: flex;
    margin: 10px ;
    width: 100%;
    gap: 20px;
 
    
}    

@keyframes eventos {
   

    from {
      left: 100%;
      
    }
  
    to {
      left: -650%;
      
    }
   

}       







